<template>
  <div>
    <ul>
      <li v-for="(value, key) in response" :key="value" id="value">
        {{ key }} {{ value }}
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "Items",
  props: {
    response: {
      type: Object,
    },
  },
};
</script>
