<template>
  <div id="app">
    <Items :response="responses" />
  </div>
</template>

<script>
import { getSlots } from "@/client/slot";
import Items from "./components/Items.vue";

export default {
  name: "App",
  components: {
    Items,
  },
  data() {
    return {
      responses: {},
    };
  },
  async mounted() {
    const responses = await getSlots().catch((e) => {
      throw new Error(e.message.toString());
    });
    console.log(responses);
    this.responses = responses;
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
